<div class="h-full">
    <nz-skeleton *ngIf="!userInfo" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
    <nz-card *ngIf="userInfo" nzTitle="User Account Details" [nzBordered]="true" class="user-details-card h-full ">
        <nz-descriptions [nzColumn]="1">
            <nz-descriptions-item nzTitle="Full Name">
                <p><b>{{ userInfo.FullName }}</b></p>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Email">
                <p>
                    <b>

                        {{ userInfo.Email | showNullishValue }}
                    </b>
                </p>

            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Roles">

                <p>
                    <b>
                        {{ userInfo.Roles.join(', ') | showNullishValue }}
                    </b>
                </p>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Phone">
                <p>
                    <b>

                        {{ userInfo.PhoneNumber | showNullishValue }}
                    </b>
                </p>

            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Access Fail Count">
                <p>
                    <b>

                        {{ userInfo.AccessFailedCount | showNullishValue}}
                    </b>
                </p>

            </nz-descriptions-item>
        </nz-descriptions>

        <div class="user-actions flex gap-1">
            <button nz-button nzType="primary" (click)="editUser()">Edit</button>
            <button nz-button nzType="default" (click)="resetAccessFailCount()">Reset Access Fail Count</button>
        </div>
    </nz-card>
</div>