<ul class="navbar sticky top-0 z-[10] bg-[#fff]" nz-menu nzMode="horizontal">
    <li *ngFor="let route of listRoute" nz-menu-item [routerLink]="route.path" [nzSelected]="route.isActive">
        <span nz-icon [nzType]="route.icon"></span>
        {{ route.title }}
    </li>



    <li *ngIf="!authService.isLoggedIn()" nz-menu-item class="navbar_item-login">
        <button nz-button nzType="primary" (click)="handleNavigateLogin($event)">
            Login
        </button>
    </li>
    <li *ngIf="authService.isLoggedIn()" class="navbar_item-info">

        <div class="">
            <div>
                <nz-avatar nz-popover nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate"
                    nzPopoverPlacement="bottomRight" [nzPopoverTitle]="'Name: ' + authService.getAccountInfo().name"
                    [nzText]='authService.getAccountInfo().shortname'></nz-avatar>
            </div>

            <ng-template #contentTemplate>
                <div class="">
                    <div>
                        <a routerLink='/userinfor'>
                            username:
                            <b>
                                <u>
                                    {{authService.getAccountInfo().email}}
                                </u>
                            </b>
                        </a>
                    </div>
                    <div>
                        <p>
                            role:
                            <b>
                                {{
                                authService.getAccountInfo().role.toString().replace(",", ", ")
                                }}
                            </b>
                        </p>
                    </div>
                    <div *ngIf=" authService.isLoggedIn()" nz-menu-item class="p-0">
                        <button nz-button nzType="primary" (click)="handleLogout()">
                            <span class="contents" nz-icon nzType="logout" nzTheme="outline"></span>
                            Logout
                        </button>
                    </div>
                </div>
            </ng-template>

        </div>

    </li>


</ul>