<div class="w-full">
    <div class="mb-[50px]">
        <div class="mb-[26px]">
            <p class="flex items-center gap-[20px] text-[24px] text-[#454360] font-josefin tracking-[.25px] font-bold">
                Recent posts
                <span class="block h-[2px] bg-[#454360] flex-1"></span>
            </p>
        </div>
        <div class="flex flex-col gap-[20px]">
            @for (item of lstNews | slice:0:4; track item) {
            <news-item-sm [item]="item" />
            }
        </div>
    </div>

    <div class="mb-[50px]">
        <div class="mb-[26px]">
            <p class="flex items-center gap-[20px] text-[24px] text-[#454360] font-josefin tracking-[.25px] font-bold">
                Tag cloud
                <span class="block h-[2px] bg-[#454360] flex-1"></span>
            </p>
        </div>
        <div class="flex flex-col gap-[20px]">

            <ul class="news_tag flex items-center flex-wrap justify-start">
                @for (item of lstTopHashTag ; track item) {
                <li class="m-[4px]">
                    <hash-tag [title]="item.HashTagNewsName" />
                </li>
                }
            </ul>
        </div>
    </div>
</div>