.login__container {
    margin: auto;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    
    .login-form {
        width: 100%;
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // padding: 10px;
        .form__password-visible {
            cursor: pointer;
        }
    }
    
    .login-form-margin {
        margin-bottom: 16px;
    }
    
    .login-form-forgot {
        float: right;
    }
    
    .login-form-button {
        width: 100%;
    }
}
