<nz-breadcrumb>
    <nz-breadcrumb-item>Users</nz-breadcrumb-item>
    <nz-breadcrumb-item>All Users</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-table nzShowSizeChanger [nzData]="lstUsers" [nzFrontPagination]="false" [nzLoading]="false">
    <thead>
        <tr>
            <th nzColumnKey="email" [nzSortFn]="true">Email</th>
            <th nzColumnKey="fullName" [nzFilterFn]="true">Name</th>
            <th nzColumnKey="roles" [nzSortFn]="true">Role(s)</th>
        </tr>
    </thead>
    <tbody>
        @for (data of lstUsers; track data) {
        <tr>
            <td>
                <div>
                    <div class="flex items-center">
                        <nz-avatar class="mr-[10px]" nzIcon="user" [nzSrc]="data.Avatar"></nz-avatar>
                        <p *ngIf="data.Email === me; else normal__text">
                            <b>{{ data.Email }} </b>
                            <i>
                                ( me )
                            </i>
                        </p>
                    </div>
                </div>
            </td>
            <td>{{ data.FullName }} </td>
            <td>{{ data.Roles.join(', ') }}</td>
        </tr>

        <ng-template #normal__text>
            {{ data.Email }}
        </ng-template>
        }
    </tbody>
</nz-table>