<div class="news_container">
    <div class="text-center">
        <div class="detail_thumbnail">
            <div class="detail_thumbnail_border">
            </div>
            <div class="detail_thumbnail_img">
                <img src="{{detailNews.Thumbnail}}" alt="" srcset="">
            </div>
        </div>

        <div class="my-[30px] px-[35px]">
            <h1 class="hover:underline text-[30px] text-[#454360] font-josefin leading-[1.2] font-bold">
                {{detailNews.ShortTitle}}
            </h1>
        </div>

        <div class="w-full flex justify-center mb-[18px]">
            <div class="flex gap-8 ">
                <div class="flex-1">
                    <div class="flex gap-4 text-[15px] text-[#596172] ">
                        <div>
                            <p class="font-sourceSerif">
                                {{detailNews.CreatedDTime | localeDTime}}
                            </p>
                        </div>
                        <div>
                            <span nz-icon nzType="line" nzTheme="outline"></span>
                        </div>
                        <div>
                            <p>
                                <span class="pr-[4px] font-sourceSerif">
                                    2
                                </span>
                                <span class="font-sourceSerif">
                                    mins read
                                </span>
                            </p>
                        </div>

                        <div>
                            <p>
                                <span class="pr-[6px] font-sourceSerif" nz-icon nzType="eye" nzTheme="outline"></span>
                                <span class="font-sourceSerif">{{detailNews.ViewCount}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full px-[35px] py-[0px]">
        <div class="ql-editor" [innerHTML]="byPassHTML(detailNews.ContentBody)"></div>
    </div>
</div>